html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

*:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
}

.container {
  margin-inline: 300px;
}

.align_center {
  display: flex;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify_center {
  display: flex;
  justify-content: center;
}

.justify_between {
  display: flex;
  justify-content: space-between;
}

header {
  margin-top: 40px;
}

.h_nav {
  gap: 24px;
}

.h_nav > * {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #222222;
}

.h_nav > *:hover {
  color: #606060;
}

.h_select > div {
  gap: 4px;
  cursor: pointer;
}

footer {
  padding-block: 50px;
  background: #353330;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin-top: 120px;
}

.h_burger {
  display: none;
}

.h_burger > img {
  cursor: pointer;
}

.button-bg {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: #ffffff;
  padding: 15px 60px;
  background: #ff8720;
  border-radius: 10px;
  border: 5px solid transparent;
}

.button-bg:hover {
  background: #ff7600;
}

.button-bg:active {
  background: #ff953b;
}

.button-bg:disabled {
  background: #948374;
}

.button-bg:not(:active):focus {
  background: #ff8720;
  border: 5px solid #ec6d00;
}

.button-tr {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #222222;
  border: 2px solid #ff8720;
  border-radius: 10px;
  padding-block: 16px;
  background-color: transparent;
}

.button-tr:not(:disabled):hover {
  background: #ff8720;
  color: #ffffff;
}

.button-tr:active {
  background: #ff953b;
}

.button-tr:disabled {
  background: #948374;
  border-color: transparent;
  color: #ffffff;
}

.button-tr:not(:active):focus {
  border: 4px solid #ff8720;
}

fieldset {
  border: 0;
  background-color: transparent;
  display: grid;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input,
textarea {
  outline: none;
}

.input-ds {
  border: 1px solid #606060;
  background-color: transparent;
  padding: 12px 10px;
  color: #222222;
  border-radius: 5px;
}

.input-ds:focus {
  border-color: #222222;
}

.input-ds:is(.error) {
  color: #f84343;
  border-color: #f84343;
}

.input-ds:disabled {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.input-ds::placeholder {
  color: #606060;
}

.req::after {
  content: "*";
  margin-left: 7px;
  color: #606060;
}

.req-br {
  background: #ffb06b;
  padding: 12px 18px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.req-br:hover {
  background: #ff8720;
}

@media screen and (max-width: 1440px) {
  header > a > img {
    width: 200px;
    height: 30px;
  }

  .container {
    margin-inline: 73px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-inline: 72px;
  }

  header > a > img {
    width: 170px;
    height: 30px;
  }

  .h_nav > * {
    font-size: 16px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    margin-inline: 64px;
  }

  header > a > img {
    width: unset;
    height: unset;
  }

  .h_nav {
    display: none;
  }

  .h_burger {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-inline: 36px;
  }

  header > a > img {
    width: 177px;
    height: 33px;
  }
}
