html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #f7f1ec;
}

* {
  box-sizing: border-box;
}

*:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
}

.container {
  margin-inline: 300px;
}

.container-s {
  margin-inline: 72px;
}

.align_center {
  display: flex;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify_center {
  display: flex;
  justify-content: center;
}

.justify_between {
  display: flex;
  justify-content: space-between;
}

header {
  margin-top: 40px;
}

.h_nav {
  gap: 24px;
}

.h_nav > * {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #222222;
}

.h_nav > *:hover {
  color: #606060;
}

.h_select > div:first-of-type {
  gap: 4px;
  cursor: pointer;
}

.h_select > div:first-of-type > img {
  transition: 0.3s;
}

.h_select > div:first-of-type > img:is(.active) {
  transform: rotate(90deg);
}

footer {
  padding-block: 50px;
  background: #353330;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin-top: 120px;
}

.h_burger {
  display: none;
  position: relative;
}

.h_burger > img {
  cursor: pointer;
}

.button-bg {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: #ffffff;
  padding: 15px 60px;
  background: #ff8720;
  border-radius: 10px;
  border: 5px solid transparent;
}

.button-bg:hover {
  background: #ff7600;
}

.button-bg:active {
  background: #ff953b;
}

.button-bg:disabled {
  background: #948374;
}

.button-bg:not(:active):focus {
  background: #ff8720;
  border: 5px solid #ec6d00;
}

.button-tr {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #222222;
  border: 2px solid #ff8720;
  border-radius: 10px;
  padding-block: 16px;
  background-color: transparent;
}

.button-tr:not(:disabled):hover {
  background: #ff8720;
  color: #ffffff;
}

.button-tr:active {
  background: #ff953b;
}

.button-tr:disabled {
  background: #948374;
  border-color: transparent;
  color: #ffffff;
}

.button-tr:not(:active):focus {
  border: 4px solid #ff8720;
}

fieldset {
  border: 0;
  background-color: transparent;
  display: grid;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input,
textarea {
  outline: none;
}

.input-ds {
  border: 1px solid #606060;
  background-color: transparent;
  padding: 12px 10px;
  color: #222222;
  border-radius: 5px;
}

.input-ds:focus {
  border-color: #222222;
}

.input-ds:is(.error) {
  color: #f84343;
  border-color: #f84343;
}

.input-ds:disabled {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.input-ds::placeholder {
  color: #606060;
}

.req::after {
  content: "*";
  margin-left: 7px;
  color: #606060;
}

.req-br {
  background: #ffb06b;
  padding: 12px 18px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.req-br:hover {
  background: #ff8720;
}

.mob_burg {
  background: #565046;
  border-radius: 10px;
  position: absolute;
  z-index: 9;
  top: 0;
  right: -70px;
  opacity: 0;
  visibility: hidden;
  padding: 28px 20px;
  width: 192px;
  transition: all 0.3s;
}

.mob_burg:is(.active) {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.mob_burg > img {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 18px;
  filter: invert(100%) sepia(0%) saturate(5662%) hue-rotate(286deg)
    brightness(128%) contrast(110%);
}

.mob_burg > img:hover {
  filter: invert(87%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(104%)
    contrast(97%);
}

.mob_burg > div {
  display: grid;
  gap: 14px;
}

.mob_burg > div > a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.mob_burg > div > a::before,
.hm_nav > div:first-of-type::before,
#catalog_sm1 > a::before,
#catalog_sm2 > a::before,
#catalog_sm3 > a::before {
  content: "";
  background-image: url(../assets/images/home/line.svg);
  width: 0px;
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.mob_burg > div > a:hover::before,
.hm_nav > div:first-of-type:hover::before,
#catalog_sm1 > a:hover::before,
#catalog_sm2 > a:hover::before,
#catalog_sm3 > a:hover::before {
  width: 21px;
  opacity: 1;
  visibility: visible;
}

.mob_burg > div > a:hover {
  color: #ffffff;
}

.hm_nav > div:first-of-type {
  cursor: pointer;
  gap: 8px;
}

.exist::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff8720;
  border-radius: 50%;
  bottom: -4px;
  right: 0;
}

.title-hm {
  gap: 6px;
  display: flex;
  align-items: center;
}

.hm_nav > div:first-of-type > .title-hm > span {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: #ffffff;
}

.hm_nav > div:first-of-type > .title-hm > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(42deg)
    brightness(104%) contrast(101%);
  transition: all 0.3s;
}

.hm_nav:is(.active) > div:first-of-type > .title-hm > img {
  rotate: 90deg;
  filter: invert(81%) sepia(5%) saturate(12%) hue-rotate(319deg) brightness(93%)
    contrast(81%);
}

.hm_nav:is(.active) > div:first-of-type > .title-hm > span {
  color: #b6b6b6;
}

.hm_nav {
  display: grid;
  grid-template-rows: 0.1fr 0fr;
  overflow: hidden;
  transition: grid-template-rows 500ms;
}

.hm_nav:is(.active) {
  grid-template-rows: 0.1fr 1fr;
}

#catalog_sm1,
#catalog_sm2,
#catalog_sm3 {
  display: grid;
  margin-left: 26px;
  gap: 14px;
  margin-top: 16px;
  overflow: hidden;
}

#catalog_sm1 a,
#catalog_sm2 a,
#catalog_sm3 a {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.h_select {
  position: relative;
}

.burger_th {
  background: #565046;
  border-radius: 10px;
  position: absolute;
  z-index: 9;
  top: -20px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  display: grid;
  gap: 14px;
  visibility: hidden;
  padding: 28px 20px;
  width: 192px;
  transition: all 0.3s;
}

.burger_th:is(.active) {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.burger_th > a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: #e2e2e2;
  display: flex;
  align-items: center;
  gap: 8px;
}

.burger_th > a::before {
  content: "";
  background-image: url(../assets/images/home/line.svg);
  width: 0px;
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.burger_th > a:hover::before {
  width: 21px;
  opacity: 1;
  visibility: visible;
}

.burger_th > a:hover {
  color: #ffffff;
}

.pages {
  display: flex;
  align-items: center;
  margin-top: 96px;
}

.pages > div,
.pages > a {
  color: #606060;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  margin-right: 2px;
}

.pages > img {
  margin-right: 3px;
}

.pages > div:hover {
  cursor: default;
}

.pages > a:hover {
  color: #737373;
}

@media screen and (max-width: 1440px) {
  header > a > img {
    width: 200px;
    height: 30px;
  }

  .container {
    margin-inline: 73px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-inline: 72px;
  }

  header > a > img {
    width: 170px;
    height: 30px;
  }

  .h_nav > * {
    font-size: 16px;
  }
}

@media screen and (max-width: 760px) {
  .container,
  .container-s {
    margin-inline: 64px;
  }

  header > a > img {
    width: unset;
    height: unset;
  }

  .h_nav {
    display: none;
  }

  .h_burger {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .container,
  .container-s {
    margin-inline: 36px;
  }

  header > a > img {
    width: 177px;
    height: 33px;
  }
}
